body {
  background-image: url(/cats-img/bg.jpg);
}
h1 {
  text-align: center;
  color: #a77ece;
  margin-top: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h4 {
  text-align: center;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-bottom: 1px;
  margin-top: 5px;
  text-shadow: 0 0 15px #8400ff;
}
h4:hover {
  color: #8400ff;
  transition: 500ms all;
}
/* .fixed-cat {
  background-image: url(/cats-img/png-transparent-chi-s-sweet-home-cat-hello-kitty-manga-anime-cat.png);
  height: 200px;
  width: auto;
  position: fixed;
  margin: auto;
} */
.cat-container {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 100px;
}
.cat-box {
  width: 280px;
  height: 410px;
  background-color: rgb(161, 95, 158);
  float: left;
  margin-bottom: 20px;
  margin-left: 30px;
}
.cat-box:hover {
  background-color: rgba(91, 189, 189, 0.685);
  transition: 500ms all;
  -webkit-transition: 500ms all;
  -moz-transition: 500ms all;
  -ms-transition: 500ms all;
  -o-transition: 500ms all;
}
img {
  position: relative;
  text-align: center;
  width: 250px;
  margin-top: 15px;
  margin-left: 15px;
}
p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px;
}
p:hover {
  color: #8400ff;
  transition: 500ms all;
}
.p-box {
  text-align: center;
  height: 250px;
  width: 100%;
  background-color: #a77ece;
  float: left;
  margin-top: 25px;
  word-break: break-all;
}
.p-box:hover {
  background-color: #a55fe7;
  transition: 500ms all;
}
.h1-2 {
  color: #8400ff;
}
.p2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button {
  position: absolute;
  justify-content: center;
  text-align: center;
  background-color: rgb(161, 95, 158);
  border: 3px solid #a77ece;
  box-shadow: 3px 3px 20px #ffffff;
  height: 70px;
  width: 120px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0px;
}
button:hover {
  background-color: rgba(91, 189, 189, 0.685);
  border: 3px solid blueviolet;
  color: rgb(255, 255, 255);
  transition: 500ms all;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
