@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

/* Some resets, not essencial for this example to work */

* {
  box-sizing: border-box;
}
html,
body {
  background-image: url(/foxes-gif/bg.jpg);
  background-repeat: no;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  color: #86d2f0;
  margin-top: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-shadow: 0 0 15px #143545;
}
h4 {
  text-align: center;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-bottom: 1px;
  margin-top: 5px;
  text-shadow: 0 0 15px #8400ff;
}
h4:hover {
  color: #8400ff;
  transition: 500ms all;
}
.img-box {
  margin: auto;
}
img {
  margin: auto;
  position: relative;
  width: 300px;
  margin-top: 15px;
  margin-left: 15px;
}
p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px;
}
p:hover {
  color: #8400ff;
  transition: 500ms all;
}
.back-button {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  background-color: #8400ff;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

/* Base styles for this example */

.wrapper {
  width: 50vw; /* unfortunately width has to be set to some hard value */
  display: flex;
}

.slide {
  width: 0;
}

/* Additional styling */

.wrapper {
  margin: 0 auto;
  background-color: white;
  box-shadow: 3px 3px 20px #8400ff;
  width: 800px;
  height: 500px;
  text-align: center;
}

span {
  background-color: rgb(0, 195, 255);
  text-align: center;
  line-height: 4rem;
  width: 4rem;
  border-radius: 8rem;
  color: #616161;
  font-size: 2rem;
}

.content {
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
  max-height: 90vh;
  overflow-y: auto;
}
.content1,
.content4,
.content2,
.content5,
.content6,
.content3 {
  justify-content: center;
  align-items: center;
  background-color: #143545;
  width: 800px;
  height: 500px;
}
button {
  background-color: #8400ff;
  border: 3px solid #143545;
  height: 70px;
  width: 120px;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 50px;
}
button:hover {
  background-color: #6f95a7;
  border: 3px solid blueviolet;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#i_1:checked ~ .wrapper .content1,
#i_2:checked ~ .wrapper .content2,
#i_3:checked ~ .wrapper .content3,
#i_4:checked ~ .wrapper .content4,
#i_5:checked ~ .wrapper .content5,
#i_6:checked ~ .wrapper .content6 {
  opacity: 1;
  pointer-events: auto;
}

label {
  color: #e0e0e0;
  transition-duration: 0.6s;
  cursor: pointer;
}

#i_1:checked ~ .controls label[for="i_1"],
#i_2:checked ~ .controls label[for="i_2"],
#i_3:checked ~ .controls label[for="i_3"],
#i_4:checked ~ .controls label[for="i_4"],
#i_5:checked ~ .controls label[for="i_5"],
#i_6:checked ~ .controls label[for="i_6"] {
  color: #8400ff;
}
button {
  background-color: #8400ff;
  border: 3px solid #143545;
  height: 70px;
  width: 120px;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 50px;
}
button:hover {
  background-color: #6f95a7;
  border: 3px solid blueviolet;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
